<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.major.base">

<application
    android:allowBackup="true"
    android:label="@string/app_name"
    android:supportsRtl="true">
    <activity android:name="com.major.base.crash.DefaultErrorActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">
    </activity>
</application>

</manifest>
